<div id="sidebar" class='help-sidebar'>
    <h1>Help</h1>

    <p>
      Learn more about:<br>
      - <%= link_to "Spree Deployment Service", "http://guides.spreecommerce.com/deployment_service.html" %><br>
      - <%= link_to "Deploying your application", "http://guides.spreecommerce.com/deploying_your_application.html" %><br>
      - <%= link_to "Config. & Customization", "http://guides.spreecommerce.com/server_configuration_and_customization.html" %><br>
      - <%= link_to "Appliation Processes", "http://guides.spreecommerce.com/deployment_application_processes.html" %><br>
      - <%= link_to "SSL Certificates", "http://guides.spreecommerce.com/requesting_and_configuring_ssl.html" %><br>
    </p>

    <p>Each deployment requires at least one <strong>Application</strong> and only one <strong>Database</strong> Server.</p>

    <p>For small / test environments a single server can have both <strong>Application</strong> and  <strong>Database</strong> roles.</p>

    <p><strong>FQDNs</strong> should use the following notation:<br>app1.example.com<br>db1.example.com<br>www.example.com </p>

    <p><strong>IP Addresses</strong> can use private / internal addresses but each server must be contactable by each other on the specified address.</p>

</div>
