<%= render 'shared/account_nav', :current => 'stores' %>


<div class='content-text'>
  <h1>
    Deployments for <%= link_to @store.name, @store %>
    <%= link_to content_tag(:i, '', class: 'icon-plus') + " Add Deployment", new_add_on_deploy_path(:store_id => @store), :class => "title-action" %>
  </h1>
  <table style='width:100%'>
    <thead>
      <tr>
        <th>Spree Version</th>
        <th>Rails Env.</th>
        <th>Ruby Version</th>
        <th># of Server(s)</th>
        <th class='actions'></th>
      </tr>
    </thead>
    <tbody>
      <% @store.deploys.each do |deploy| %>
        <tr>
          <td><%= deploy.spree_version.name %></td>
          <td class='center'><span class='label <%= deploy.rails_environment.downcase %>'><%= deploy.rails_environment %></span></td>
          <td class='center'><%= deploy.ruby_version %></td>
          <td class='center'><%= deploy.servers.size %></td>
          <td class='actions'>
            <ul>
              <li><%= link_to content_tag(:i, '', class: 'icon-pencil'), edit_add_on_deploy_path(deploy) %></li>
              <li><%= link_to content_tag(:i, '', class: 'icon-trash'), add_on_deploy_path(deploy), method: 'delete', confirm: 'Are you sure you want to delete this environment?' %></li>
            </ul>
          </td>
        </tr>
      <% end %>
      <% if @store.deploys.empty? %>
        <tr>
          <td colspan="4">
            No deployments configured, <%= link_to "add a deployment", new_add_on_deploy_path(:store_id => @store) %>.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'shared/account_sidebar' %>
